@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Artifika&family=Cairo:wght@200;600&family=Caveat:wght@400;500;600;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Courgette&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Indie+Flower&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lobster&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Pacifico&family=Patrick+Hand&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Righteous&family=Sansita+Swashed:wght@300;400;500;600;700;800;900&family=Secular+One&family=Shadows+Into+Light&family=Varela+Round&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Fira Sans;
    overflow-x: hidden;
}

.home-page {
    width: 100%;
    height: 100vh;
    position: relative;

}

.home-page header {
    width: 100%;
    height: 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    background-color: rgb(8, 102, 131);
    padding: 0 5em;
}

.home-page header .logo h1 {
    color: white;
    font-size: 3em;
    text-transform: capitalize;
}

.home-page header .logo h1 span {
    font-size: 1.2em;
    text-shadow: 0 0 15px white;
}

.home-page header nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-page header nav a {
    display: inline-block;
    color: white;
    font-size: 1.4em;
    text-transform: capitalize;
    padding: 0.5em 1em;
    border-radius: 0.2em 0.7em;
    transition: background-color 0.8s, font-weight 0.4s;
}

.home-page header nav a:hover {
    background-color: white;
    font-weight: 700;
    color: rgb(8, 102, 131);
}

.home-page header .gift a {
    display: inline-block;
    color: rgb(8, 102, 131);
    font-size: 1.4em;
    text-transform: capitalize;
    padding: 0.3em 1em;
    border-radius: 0.5em 1em;
    background-color: white;
    font-weight: 700;
    letter-spacing: 0.2em;
    transition: transform 0.7s;
}

.home-page header .gift a:hover {
    transform: scale(1.2);
}

.home-page .container {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.home-page .container .title {
    width: fit-content;
    position: relative;
}

.home-page .container .title h1 {
    font-size: 3.7em;
    text-transform: capitalize;
    font-style: italic;
}

.home-page .container .title h1 span {
    color: rgb(8, 102, 131);
    text-transform: uppercase;
}

.home-page .container .title p {
    font-size: 1.2em;
    margin-top: 0.3em;

}

.home-page .container .image {
    width: 25em;
    height: 40em;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 15px black, -8px 15px 25px rgb(8, 102, 131);
    border-radius: 2em 7em;
}

.home-page .container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.secend-page {
    width: 100%;
    height: 70vh;
    position: relative;



}
.secend-page .container{

  width: 100%;
height: 40em;
}
.secend-page .container .title {
    margin: 1em 5em;
    width: fit-content;
}

.secend-page .container .title h2 {
    font-size: 3em;
    text-transform: capitalize;
    position: relative;
}

.secend-page .container .title h2 span {
    color: rgb(8, 102, 131);
    font-size: 1.3em;
}

.secend-page .container .title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(8, 102, 131);
}

.secend-page .container .cards {
    width: 100%;
    height: 30em;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 0 2em;
    align-items: center;
    flex-flow: row wrap;

 

   

}
.secend-page .container .cards .card {
    width: 12em;
    height: 15em;
    box-shadow: 0 0 15px rgb(8, 102, 131);
    padding: 1em 0;
    border-radius: 5em 2em;
    text-align: center;
    transform: skew(-40deg, 20deg);
    overflow: hidden;
    z-index: 1;
    transition: box-shadow 0.9s;
   
    
}

.secend-page .container .cards .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(8, 102, 131);
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.8s, border-radius 0.8s;
    transform-origin: center;
    z-index: -1;
}

.secend-page .container .cards .card:hover:after {
    transform: scale(1);
    border-radius: 5em 2em;
}

.secend-page .container .cards .card:hover {
    box-shadow: 0 0 15px black, 5px 15px 30px rgb(8, 102, 131);
}

.secend-page .container .cards .card .info {
    margin-top: 2em;
}

.secend-page .container .cards .card .info p {
    background-color: rgb(8, 102, 131);
    position: relative;
    width: fit-content;
    margin: auto;
    padding: 0.3em 0.7em;
    border-radius: 1.2em 0.6em;
    color: white;
    font-weight: 700;
    overflow: hidden;
    z-index: 1;
}

.secend-page .container .cards .card .info p::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 1.2em 0.6em;
    transform: scaleX(0);
    transition: transform 0.8s;
    z-index: -1;
}

.secend-page .container .cards .card:hover .info p::after {
    transform: scaleX(1);

}

.page-3 {
    width: 100%;
    height: 370vh;
    position: relative;

}

.page-3 .container {
    width: 100%;
    height: 100%;
    position: relative;

}

.page-3 .container .title {
    margin: 1em 5em;
    width: fit-content;
}

.page-3 .container .title h2 {
    font-size: 3em;
    text-transform: capitalize;
    position: relative;
}

.page-3 .container .title h2 span {
    color: rgb(8, 102, 131);
    font-size: 1.3em;
}

.page-3 .container .title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(8, 102, 131);
}

.page-3 .container .title p {
    text-align: center;
    margin-top: 1em;
}

.page-3 .container .cards {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    margin: auto;
    margin-top: 5em;


}

.page-3 .container .cards .card {
    width: 20em;
    height: 35em;
    background-image: linear-gradient(320deg, rgb(8, 102, 131), rgb(72, 151, 175));
    margin-top: 0.8em;
    padding: 1em 0;
    border-radius: 3em 1em;

}

.page-3 .container .cards .card .image {
    width: 85%;
    height: 70%;
    overflow: hidden;
    position: relative;
    margin: auto;
    border-radius: 3em 1em;
}

.page-3 .container .cards .card .image .img {
    width: 100%;
    height: 100%;

}

.page-3 .container .cards .card .image .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.page-3 .container .cards .card .info {
    margin-top: 1em;
    width: 100%;
    padding: 0 1em;
}

.page-3 .container .cards .card .info>p {
    text-transform: capitalize;
    font-weight: 600;
}

.page-3 .container .cards .card .info h3 {
    font-size: 1.3em;
    color: white;
    text-shadow: 0 0 5px black;
}

.page-3 .container .cards .card .info .parte-2 {
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-3 .container .cards .card .info .parte-2 .stars i {
    font-size: 1.3em;
    color: white;
}

.page-3 .container .cards .card .info .parte-2 .stars .money p {
    margin: 1em;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    transform: scale(1.5);
}

.page-3 .container .cards .card .info .parte-2 .shop a {
    width: 3em;
    height: 3em;
    display: inline-block;
    color: rgb(8, 102, 131);
    position: relative;
    padding: 0.7em;
    background-color: white;
    border-radius: 1.2em 0.5em;

}

.page-3 .container .cards .card .info .parte-2 .shop a i {
    font-size: 1.5em;
    position: absolute;
    top: 78%;
    left: 73%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(2);
    z-index: 1;
    animation: move-shop 1.5s infinite linear;

}

@keyframes move-shop {
    0% {
        transform: translate(-50%, -50%);
    }

    25% {
        transform: translate(-50%, -60%);
    }

    50% {
        transform: translate(-50%, -40%);
    }

    100% {
        transform: translate(-50%, -50%);
    }

}

.page-3 .container .title-2 {
    margin: 1em 5em;
    width: fit-content;
}

.page-3 .container .title-2 h2 {
    font-size: 3em;
    text-transform: capitalize;
    position: relative;
}

.page-3 .container .title-2 h2 span {
    color: rgb(8, 102, 131);
    font-size: 1.3em;
}

.page-3 .container .title-2 h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(8, 102, 131);
}

.page-3 .container .cards-2{
    height: 110em;
}
.page-3 .container .cards-2 .card {
    width: 24em;
    height: 37em;
    margin-top: 4em;
   

}

.page-3 .container .cards-2 .card .image {
    height: 75%;
}

.page-3 .container .cards-2 .card.last-card {
    width: 40em;
    height: 13em;
    padding: 0 1.5em;
    position: relative;
    margin-top: 4em;
}

.page-3 .container .cards-2 .card.last-card h2 {
    position: absolute;
    font-size: 5em;
    opacity: 0.7;
    font-style: italic;

}

.page-3 .container .cards-2 .card.last-card p {
    position: absolute;
    font-size: 1.15em;
    width: 20em;
    left: 2em;
    top: 6.5em;
    color: white;
}

.page-3 .container .links-t {
    width: 100%;
    margin-top: 10em;
    text-align: right;
}

.page-3 .container .links-t a {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(8, 102, 131);
    background-color: white;
    padding: 0.2em 0.7em;
    border-radius: 1.2em 0.4em;
    overflow: hidden;
    z-index: 1;
    transition: color 0.9s;

}

.page-3 .container .card.last-card:hover .links-t a {
    color: white;
}

.page-3 .container .links-t a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: black;
    z-index: -1;
    transition: width 0.7s;
}

.page-3 .container .card.last-card:hover .links-t a:after {
    width: 100%;
}


.page-3-end {
    width: 100%;
    height: 70vh;

}

.page-3-end .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.page-3-end .box .s-box {
    width: 40em;
    height: 25em;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 15px 30px black;
    border-radius: 7em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-3-end .box .s-box .info {
    width: 80%;
    height: 50%;
    text-align: right;
    margin-left: 5em;
    position: relative;
}

.page-3-end .box .s-box .info p {
    font-size: 1.2em;
    font-weight: 700;
}

.page-3-end .box .s-box .info h3 {
    font-size: 3em;
    font-weight: 700;
}

.page-3-end .box .s-box .info .link a {
    display: inline-block;
    position: absolute;
    top: 10em;
    left: -20em;
    font-size: 1.5em;
    color: black;
    background-color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
    text-transform: capitalize;
    padding: 0.2em 0.7em;
    letter-spacing: 0.2em;
    border-radius: 2em 0.5em;
    transition: left 0.5s, color 0.8s;
    z-index: 1;
    overflow: hidden;

}

.page-3-end .box .s-box .info .link a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: black;
    z-index: -1;
    transition: width 0.7s;
}

.page-3-end .box .s-box .info .link a:hover:after {
    width: 100%;
}

.page-3-end .box .s-box .info .link a:hover {
    color: white;
}

.page-3-end .box .s-box:hover .info .link a {
    left: -1em;

}

.page-3-end .box .s-box.box-1 {
    background: url(box-1.jpg);
    background-position:
        left;
    background-size: cover;
}

.page-3-end .box .s-box.box-2 {
    background: url(box-2.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 0 0 5px black;

}

.page-offer {
    width: 100%;
    height: 80vh;
    background-color: black;


}

.page-offer .contianer .title {
    margin: 1em 5em;
    width: fit-content;
}

.page-offer .contianer .title h2 {
    font-size: 3em;
    text-transform: capitalize;
    color: white;
    position: relative;
}

.page-offer .contianer .title h2 span {
    color: rgb(8, 102, 131);
    font-size: 1.3em;
}

.page-offer .contianer .title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(8, 102, 131);
}

.page-offer .contianer {
    width: 100%;
    height: 100%;
    padding: 2em 0;
}

.page-offer .contianer .cards {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex-flow: row wrap;
    margin-top: 2em;
}

.page-offer .contianer .cards .card {
    width: 24em;
    height: 35em;
    background-color: white;
    border-radius: 5em 2em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 1s;
}

.page-offer .contianer .cards .card:nth-child(3) {
    background-color: rgb(8, 102, 131);
    color: white;
    transform: scale(1.1);
    margin-top: -2em;
}

.page-offer .contianer .cards .card::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(8, 102, 131);
    transform: scale(0);
    transform-origin: top left;
    transition: 0.7s;
    clip-path: circle(50% at 50% 50%);
    z-index: -1;
}

.page-offer .contianer .cards .card:hover:after {
    transform: scale(1);
    clip-path: circle(70.7% at 50% 50%);
}

.page-offer .contianer .cards .card:hover {
    color: white;
}

.page-offer .contianer .cards .card .image {
    width: 95%;
    height: 75%;
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-top: 0.7em;
    border-radius: 5em 2em;
}

.page-offer .contianer .cards .card .image:hover .img img {
    transform: scale(1.7);
}

.page-offer .contianer .cards .card:first-child .image:hover .img img {
    transform: scale(1.7) translatey(-10%);
}

.page-offer .contianer .cards .card:last-child .image:hover .img img {
    transform: scale(1.7) translate(-5%, -12%);
}

.page-offer .contianer .cards .card .image .img {
    width: 100%;
    height: 100%;
}

.page-offer .contianer .cards .card .image .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.7s;
}

.page-offer .contianer .cards .card .info {
    width: 100%;
    padding: 0 1em;
    margin-top: 1.3em;
    position: relative;
}

.page-offer .contianer .cards .card .info>p {
    font-weight: 600;

}

.page-offer .contianer .cards .card .info h3 {
    font-size: 1.7em;
    text-transform: capitalize;
}

.page-offer .contianer .cards .card .info .money p {
    font-size: 1.7em;
    font-weight: 600;
    margin-top: 0.5em;


}

.page-offer .contianer .cards .card .info .money p span {
    font-size: 0.85em;
    margin-right: 0.4em;
    position: relative;
}

.page-offer .contianer .cards .card .info .money p span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10%;
    width: 120%;
    height: 0.15em;
    background-color: rgb(8, 102, 131);
    transform: rotate(15deg);
}

.page-offer .contianer .cards .card .info .shop a {
    display: inline-block;
    position: absolute;
    top: 2em;
    left: 10em;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    background-color: black;
    padding: 0.2em 0.7em;
    border-radius: 1em 0.4em;
    z-index: 1;
    overflow: hidden;
    transition: color 0.8s;
}


.page-offer .contianer .cards .card .info .shop a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 00%;
    height: 100%;
    background-color: white;
    z-index: -1;
    transform-origin: center;
    transition: width 0.7s;

}

.page-offer .contianer .cards .card:hover .info .shop a:after {
    width: 100px;
}

.page-offer .contianer .cards .card:hover .info .shop a {
    color: black;
}

.footer-page {
    width: 100%;
    height: 20em;
    margin-top: 5em;
    position: relative;
    box-shadow: 0 0 15px rgb(8, 102, 131);

}

.footer-page .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    padding: 0.7em 0;

}

.footer-page .container .information {
    width: 25em;
    height: 15em;
    text-align: center;

}

.footer-page .container .information .title h3 {
    font-size: 2em;
    text-transform: capitalize;
    color: rgb(8, 102, 131);

}

.footer-page .container .information .more {
    margin-top: 2em;
}

.footer-page .container .information .more p {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0.4em 0;
}

.footer-page .container .information .more p span {
    position: relative;
    width: fit-content;
}

.footer-page .container .information .more p span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 0.1em;
    background-color: rgb(8, 102, 131);
}

.footer-page .container .map {
    width: 50em;
    height: 15em;
    overflow: hidden;
    border-radius: 6em 1.5em;

}

.footer-page .container .map iframe {
    width: 100%;
    filter: invert(100%);
}

.footer-page .contact {
    width: 18em;
    height: 15em;


}

.footer-page .contact .title h3 {
    font-size: 2em;
    text-transform: capitalize;
    color: rgb(8, 102, 131);
    text-align: center;
}

.footer-page .contact .links {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.footer-page .contact .links .link {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.4em;
    position: relative;
    overflow: hidden;
    border-radius: 0.7em 0.2em;
    z-index: 1;
    transition: 0.8s;


}

.footer-page .contact .links .link:hover {
    width: 70%;
}

.footer-page .contact .links .link:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    transform: scale(0);
    clip-path: circle(12.2% at 50% 51%);
    transition: 0.9s;
}

.footer-page .contact .links .link:hover:after {
    transform: scale(1);
    clip-path: circle(69.0% at 50% 51%);

}

.footer-page .contact .links .link p {
    font-weight: 600;
    position: absolute;
    left: 7em;
    top: 5em;
    transition: 1s;
}

.footer-page .contact .links .link:hover p {
    color: white;
    top: 0.5em;
}

.footer-page .contact .links .link a {
    display: inline-block;
    color: black;
    transition: 0.7s;
}

.footer-page .contact .links .link:hover a {
    margin-left: -6em;
    color: white;
}

.footer-page .contact .links .link a i {
    font-size: 1.7em;

}

.footer-page .contact .links .link a i:hover {
    color: rgb(8, 102, 131);
}

.footer-page .container .logo {
    width: 20%;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-page .container .logo .image {
    position: absolute;
    animation: move-logo-footer 4s infinite linear;
}

@keyframes move-logo-footer {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-80%);
    }

    100% {
        transform: translateY(0%);
    }



}